<div class="contents row">
  <div class="container">
    <h2>Sign up</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <%if @sns_id.present? %>
        <%= hidden_field_tag :sns_auth, true %>
      <% else %>
        <div class="field">
          <%= f.label :password %>
          <% @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      <% end %>

      


      <%= link_to user_facebook_omniauth_authorize_path, method: :post, class: 'btn' do%>
        <img class="img" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t39.2365-6/17639236_1785253958471956_282550797298827264_n.png?_nc_cat=105&amp;ccb=1-3&amp;_nc_sid=ad8a9d&amp;_nc_ohc=oGgyl1CgWTwAX-kcro8&amp;_nc_ht=scontent-sjc3-1.xx&amp;oh=53b9f19e3143abd18f660eaeb7140a7e&amp;oe=607E2D16" width="200" alt="">
      <% end %>
      <P></p>
      <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: 'btn' do%>
        <%= image_tag 'btn_google_signin_light_pressed_web.png' %>
      <% end %>


      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>
