<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>Log in</h2>
      <h5>登録しているユーザーでログイン</h5>
      <%= render "devise/shared/links"%>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :email%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email, autofocus: true%>
          </div>
          <div class='field'>
            <div class='field-label'>
              <%= f.label :password%>
              <i>(英数字6文字以上)</i>
            </div>
            <div class='field-input'>
              <%= f.password_field :password, autocomplete: "off"%>
            </div>
          </div>

          <%= link_to user_twitter_omniauth_authorize_path, method: :post, class: 'btn' do %>
            <img class="img" src="https://qiita-user-contents.imgix.net/https%3A%2F%2Fqiita-image-store.s3.ap-northeast-1.amazonaws.com%2F0%2F492105%2Fb09823be-2a7d-cdd2-83ef-a48fe005ddbc.png?ixlib=rb-1.2.2&amp;auto=format&amp;gif-q=60&amp;q=75&amp;s=43bb61a706a5175db4d67422db3bdfc2" alt="image.png" data-canonical-src="https://qiita-image-store.s3.ap-northeast-1.amazonaws.com/0/492105/b09823be-2a7d-cdd2-83ef-a48fe005ddbc.png" srcset="https://qiita-user-contents.imgix.net/https%3A%2F%2Fqiita-image-store.s3.ap-northeast-1.amazonaws.com%2F0%2F492105%2Fb09823be-2a7d-cdd2-83ef-a48fe005ddbc.png?ixlib=rb-1.2.2&amp;auto=format&amp;gif-q=60&amp;q=75&amp;w=1400&amp;fit=max&amp;s=9639b5b3a5bcdc8c4503eb29587ecd92 1x" loading="lazy">
          <% end %>
          <P></p>

          <%= link_to user_facebook_omniauth_authorize_path, method: :post, class: 'btn' do%>
            <img class="img" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t39.2365-6/17639236_1785253958471956_282550797298827264_n.png?_nc_cat=105&amp;ccb=1-3&amp;_nc_sid=ad8a9d&amp;_nc_ohc=oGgyl1CgWTwAX-kcro8&amp;_nc_ht=scontent-sjc3-1.xx&amp;oh=53b9f19e3143abd18f660eaeb7140a7e&amp;oe=607E2D16" width="200" alt="">
          <% end %>
          <%# link_to "Facebookでログイン", user_facebook_omniauth_authorize_path, method: :post%>
          <P></p>
          <%# link_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path, method: :post%>
          <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: 'btn' do%>
            <%= image_tag 'btn_google_signin_light_pressed_web.png' %>
          <% end %>
          <%= link_to user_twitter_omniauth_authorize_path do %>
            <i class="fab fa-twitter-square fa-2x"></i>
          <% end %>

          <div class='actions'>
            <%= f.submit "Log in", class: 'btn'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>