<!DOCTYPE html>
<html>

  <head>
    <%# <head prefix="og: http://ogp.me/ns#"> %>
    <%# <meta property="fb:app_id" content="435683437534143" />
    <meta name="twitter:card" content="summary_large_image"/> %>
    <%= display_meta_tags(default_meta_tags) %>


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TomoiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    
    <header>
      <div class="heading">
        <h1 class="title">
        <%= link_to "トモイ珈琲 online shop", shops_path %>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <%= link_to "店舗ガイド", shop_guides_path, class: :nav__lists %>
          <%= link_to "ショッピング", products_path, class: :nav__lists %>
          <%= link_to "アクセス", accesses_path, class: :nav__lists %>
          <%= link_to "フランチャイズ募集", shop_path(:id), class: :nav__lists %>
          <% if user_signed_in? %>
            <div class="nav-lists2">
            <%# ユーザー %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__lists %>
          <%# elsif user_signed_in? && user.role == 'admin' %>
            <%# 管理者 %>
            <%# link_to "ログアウト", destroy_owner_session_path, method: :delete, class: :nav__lists %>
            </div>
          <% else %>
            <div class="nav-lists2">
            <%# ゲストユーザー %>
            <%= link_to "ログイン", new_user_session_path, class: :nav__lists %>
            </div>
            <div class="nav-lists2">
            <%= link_to "新規登録", new_user_registration_path, class: :nav__lists %>
            </div>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer>
      <P></p>
      <iframe data-lang="ja" data-type="share-a" data-url="http://official-blog.line.me/ja/archives/22355752.html" data-line-it-id="0" scrolling="no" frameborder="0" allowtransparency="true" style="width: 60px; height: 20px; visibility: visible; position: static !important; opacity: 1 !important;" class="line-it-button" src="https://social-plugins.line.me/widget/share?url=http%3A%2F%2Fofficial-blog.line.me%2Fja%2Farchives%2F22355752.html&amp;buttonType=share-a&amp;lang=ja&amp;type=share&amp;id=0&amp;origin=http%3A%2F%2Fofficial-blog.line.me%2Fja%2Farchives%2F22355752.html&amp;title=%E3%80%8CLINE%E3%81%A7%E9%80%81%E3%82%8B%E3%80%8D%E3%83%9C%E3%82%BF%E3%83%B3%E3%82%92%E6%89%8B%E8%BB%BD%E3%81%AB%E8%A8%AD%E7%BD%AE%E3%81%A7%E3%81%8D%E3%82%8B%E3%82%88%E3%81%86%E3%81%AB%E3%81%AA%E3%82%8A%E3%81%BE%E3%81%97%E3%81%9F%20%3A%20LINE%E5%85%AC%E5%BC%8F%E3%83%96%E3%83%AD%E3%82%B0" title="このページの情報をLINEでシェアできます。"></iframe>
      <iframe data-lang="ja" data-type="like" data-url="http://official-blog.line.me/ja/archives/22355752.html" data-share="true" data-line-it-id="1" scrolling="no" frameborder="0" allowtransparency="true" style="width: 71px; height: 20px; visibility: visible; position: static !important; opacity: 1 !important;" class="line-it-button" src="https://social-plugins.line.me/widget/like?url=http%3A%2F%2Fofficial-blog.line.me%2Fja%2Farchives%2F22355752.html&amp;includeShare=true&amp;lang=ja&amp;type=like&amp;id=1&amp;origin=http%3A%2F%2Fofficial-blog.line.me%2Fja%2Farchives%2F22355752.html&amp;title=%E3%80%8CLINE%E3%81%A7%E9%80%81%E3%82%8B%E3%80%8D%E3%83%9C%E3%82%BF%E3%83%B3%E3%82%92%E6%89%8B%E8%BB%BD%E3%81%AB%E8%A8%AD%E7%BD%AE%E3%81%A7%E3%81%8D%E3%82%8B%E3%82%88%E3%81%86%E3%81%AB%E3%81%AA%E3%82%8A%E3%81%BE%E3%81%97%E3%81%9F%20%3A%20LINE%E5%85%AC%E5%BC%8F%E3%83%96%E3%83%AD%E3%82%B0" title="undefined"></iframe>
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&width=103&height=20&appId" width="103" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      <p>Copyright(C) トモイ 珈琲 ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>
