<!DOCTYPE html>
<html>
  <head>
    <head website="og: http://ogp.me/ns# fb: http://ogp.me/ns/ fb# prefix属性: http://ogp.me/ns/ prefix属性#">
    <meta property="og:url" content="https://tomoi-app.herokuapp.com/" />                           
    <meta property="og:type" content="website" />
    <meta property="og:title" content="トモイ珈琲" />
    <meta property="og:description" content="自家農園から採れた厳選したコーヒー豆を使用。コクと深みのある味を実現するため製法にこだわっています。" />
    <meta property="og:site_name" content="トモイ珈琲 online shop" />
    <meta property="og:image" content="251280.jpg" />
    <meta name="twitter:card" content="Summary Card" />
    <meta name="twitter:site" content="@Fumi_Kazu5" />

    <title>TomoiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    
    <header>
      <div class="heading">
        <h1 class="title">
        <%= link_to "トモイ珈琲 online shop", shops_path %>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <%= link_to "店舗ガイド", shop_guides_path, class: :nav__lists %>
          <%= link_to "ショッピング", products_path, class: :nav__lists %>
          <%= link_to "アクセス", accesses_path, class: :nav__lists %>
          <%= link_to "フランチャイズ募集", shop_path(:id), class: :nav__lists %>
          <% if user_signed_in? %>
            <div class="nav-lists2">
            <%# ユーザー %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__lists %>
          <%# elsif user_signed_in? && user.role == 'admin' %>
            <%# 管理者 %>
            <%# link_to "ログアウト", destroy_owner_session_path, method: :delete, class: :nav__lists %>
            </div>
          <% else %>
            <div class="nav-lists2">
            <%# ゲストユーザー %>
            <%= link_to "ログイン", new_user_session_path, class: :nav__lists %>
            </div>
            <div class="nav-lists2">
            <%= link_to "新規登録", new_user_registration_path, class: :nav__lists %>
            </div>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer>
      <P></p>
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&width=103&height=20&appId" width="103" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      <p>Copyright(C) トモイ 珈琲 ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>
